# ignore data and output directories
csv_[0-9]*
output_[0-9]*
# ignore scripts dirs
after_scripts.d/
before_scripts.d/
utils/
# any stale ownership clones
storage_chargeback_ownership*
# startup script
start_storcrawl.sh
# obvious
test.sh
storcrawldb.stdout
storcrawldb.stderr
# DS_Stores
*DS_Store
